.avatar {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-color: #4e4e4e;
  color: #fff;
  border-radius: 25%;
  height: 48px;
  width: 48px;
  margin-bottom: 10px;
}

.avatar-initials {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
